<!-- <app-cards></app-cards> -->
<div class="container">
    <div class="topbar">
        <div class="brand">timumu</div>
    </div>
    <div class="main-content">
        <div class="sidebar">
            <div class="folder-container section">
                <app-folders></app-folders>
            </div>
            <div class="subfolder-container section">
                <app-lists></app-lists>

            </div>
        </div>
        <div class="list-container section">
            <app-tasks></app-tasks>
        </div>
    </div>
</div>